<h1 style="text-align: center; color: chocolate;"><b>Employee List </b></h1>


<table class="table table-striped">
    <thead> 
        <tr>
            <th>Firstname</th> 
            <th>Lastname</th> 
            <th>Email</th>
            <th>Phone</th> 
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees" class="tableRow"> 
            <td>{{emp.firstname}}</td> 
            <td>{{emp.lastname}}</td> 
            <td>{{emp.email}}</td> 
            <td>{{emp.phone}}</td> 
            <td>{{emp.address}}</td> 
            <td>
                <button (click)="updateEmployee(emp.id)" class="btn btn-info">Edit</button>
                <button (click)="removeEmployee(emp.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
    </tbody>
</table>    